<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>メモアプリ</title>
  <link rel="stylesheet" href="/style.css" />
</head>
<body>
  <h1>メモアプリ</h1>
  <div><%= @title%></div>
    <%= @content %>
  <div>
    <form method="GET" action="/memos/<%= params['memo_id'] %>/edit">
      <input type="submit" value="変更">
    </form>
    <form method="POST" action="/memos/<%= params['memo_id'] %>">
      <input type="submit" value="削除">
      <input type="hidden" name="id" value="params['memo_id']">
      <input type="hidden" name="_method" value="delete">
    </form>
  </div>
</body>
</html>
